@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  font-family: "Montserrat", sans-serif; }

h3 {
  text-align: center;
  text-transform: uppercase; }

.overlay {
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(16, 20, 25, 0), #1d232b);
  background: linear-gradient(to bottom, rgba(16, 20, 25, 0), #1d232b);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.site-header {
  height: 100vh;
  background: url("../images/Ragnar-hero.jpg") center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff; }
  .site-header .logo {
    z-index: 7; }
  .site-header .quote {
    max-width: 700px;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 6; }
    .site-header .quote h2 {
      letter-spacing: 3px; }
  .site-header .arrow {
    font-size: 30px;
    color: rgba(216, 216, 216, 0.8);
    font-size: 50px;
    -webkit-animation: arrowJump 2s cubic-bezier(0.29, 1.4, 0.88, 1.24) infinite;
            animation: arrowJump 2s cubic-bezier(0.29, 1.4, 0.88, 1.24) infinite;
    z-index: 10; }

@-webkit-keyframes arrowJump {
  0%,100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes arrowJump {
  0%,100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.about-section {
  padding: 100px 0;
  background: #1d232b;
  text-align: center; }
  .about-section .wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: #e5e6e8; }
    .about-section .wrapper p {
      line-height: 1.5em; }
      .about-section .wrapper p span {
        color: #d8d8d8;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer; }
        .about-section .wrapper p span:hover {
          color: #fff;
          text-decoration: none; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  overflow: auto;
  z-index: 10; }
  .modal .close {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #fff;
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer; }
    .modal .close:hover {
      color: #eee; }
  .modal .modal-wrapper {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.8);
    width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -400px;
    line-height: 1.6em;
    z-index: 50;
    font-size: 16px; }
    .modal .modal-wrapper .more-about {
      max-width: 650px;
      margin: 0 auto 20px auto; }
      .modal .modal-wrapper .more-about a {
        color: #0a0c0f; }
        .modal .modal-wrapper .more-about a .info {
          font-style: normal; }
          .modal .modal-wrapper .more-about a .info::before {
            content: " - ";
            display: inline-block; }
        .modal .modal-wrapper .more-about a:hover {
          text-decoration: none; }
    .modal .modal-wrapper img {
      width: 100%; }

hr {
  border: none;
  height: 1px;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.5), #8e8e8e, rgba(255, 255, 255, 0.5));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), #8e8e8e, rgba(255, 255, 255, 0.5)); }

#ragnarSpeach {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 25;
  display: none;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
  #ragnarSpeach:hover {
    opacity: 1; }

@media (max-width: 620px) {
  .site-header {
    display: block;
    height: 100vh; }
    .site-header .quote {
      position: relative;
      margin-top: 180px;
      font-size: 16px; }
    .site-header .arrow {
      display: none; }

  .about-section .wrapper {
    width: auto;
    font-size: 16px; }

  .modal .modal-wrapper {
    width: auto;
    position: relative;
    left: 0;
    margin: 0 auto; }
  .modal .more-about {
    width: auto; } }

/*# sourceMappingURL=style.css.map */