.quotes
  text-align: center
  background: #151a1e

  .quote-wrap
    padding: 200px 0
    font-size: 35px
    color: $secondary
    position: relative
    .overlay-bg
      position: absolute
      top: 0
      width: 100%
      height: 100%
      background: rgba(#263142,.6)
    .quote
      width: 550px
      max-width: 90%
      margin: 0 auto
      text-shadow: 0 2px 5px rgba(0,0,0,.7)
      position: relative
      z-index: 1
      transform: translateY(30px)
      opacity: 0
      transition: all 0.5s ease-in-out
      &.active
        transform: translateY(0)
        opacity: 1
      hr
        border: none
        height: 1px
        background: #fff
        width: 300px
      &::after
        content: "\f10d"
        display: block
        font-family: FontAwesome
        position: absolute
        top: -50px
        color: yellow
        text-shadow: none
        opacity: 0.5

    &.quote1
      background: url('../images/gallery/2.jpg')center
      background-size: cover
    &.quote2
      background: url('../images/gallery/1.jpg')center
      background-size: cover
    &.quote3
      background: url('../images/gallery/ragnar-family.jpg')center top
      background-size: cover
    &.quote4
      background: url('../images/gallery/ragnar-mourns.jpg')center
      background-size: cover
    &.quote5
      background: url('../images/gallery/8.jpg')center
      background-size: cover
    &.quote6
      background: url('../images/gallery/13.jpg')center top
      background-size: cover
    &.quote7
      background: url('../images/gallery/ragnar-power.jpg')center top
      background-size: cover
    &.quote8
      background: url('../images/gallery/21.jpg')center
      background-size: cover
@media (max-width: 570px)
  .quotes
    .quote-wrap
      font-size: 20px

@media (max-width: 460px)
  .quotes
    .quote-wrap
      .quote hr
        width: auto
