.ragnarAndSons
  padding: 100px 0 0 0
  height: 500px
  background: $darkblue
  //#252526
  position: relative
  &::after
    content: "RAGNARSSONS"
    display: block
    position: absolute
    top: 10px
    left: 50%
    transform: translateX(-50%)
    font-size: 60px
    font-weight: 700
    letter-spacing: 0.8em
    color: rgba(0,0,0,.4)
    @media (max-width: 1030px)
      font-size: 40px
    @media (max-width: 740px)
      letter-spacing: 0
    @media (max-width: 400px)
      font-size: 30px
  .wrapper
    height: 100%
    display: flex
    box-shadow: 0 -3px 20px rgba(0,0,0,0.3)
    .sons
      height: auto
      flex: 1
      transition: flex 0.6s ease-in-out
      cursor: pointer
      &.open
        flex: 3
      &.son1
        background:
          image: url('../images/Hvitserk.jpg')
          size: cover
          position: center
      &.son2
        background:
          image: url('../images/ubbe.jpg')
          size: cover
          position: center left

      &.son3
        background:
          image: url('../images/Bjorn3.jpg')
          size: cover
          position: center
      &.son4
        background:
          image: url('../images/Ivar.jpg')
          size: cover
          position: center center
      &.son5
        background:
          image: url('../images/Sigurd.jpg')
          size: cover
          position: center center

      h1
        margin: 0
        color: $secondary
        text-shadow: 0 2px 5px rgba(0,0,0,.6)
        position: absolute
        z-index: 5

      .about-son
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.5)
        padding: 50px 0
        line-height: 50%
        box-sizing: border-box
        color: #fff
        text-align: center
        display: none
        p
          width: 400px
          margin: 0 auto
          line-height: 1.7em
          font-size: 18px

@media (max-width: 970px)
  .ragnarAndSons
    .wrapper
      width: auto
@media (max-width: 790px)
  .ragnarAndSons
    .wrapper
      .sons h1
        font-size: 18px
@media (max-width: 740px)
  .ragnarAndSons
    .wrapper
      flex-direction: column
@media (max-width: 475px)
  .ragnarAndSons
    .wrapper
      .sons
        h1
          display: none
        .about-son p
          width: auto
          font-size: 16px
          line-height: 1em
